<div id="books-index">
  <div class="row">
    <div class="col-md-3 col-sm-3">
       <h3> MICROGRID </h3>
       <%= image_tag('covers/51x3m5OGIjL._UY250_.jpg')%>
      <%= link_to 'Read More',  bookshow_path, class: 'btn btn-primary'%>
    </div>
    <div class="col-md-3 col-sm-3">
       <h3> INTELLIGENT AUTOMATIC GENERATION CONTROL </h3>
       <%= image_tag('covers/download.jpeg')%>
      <%= link_to 'Read More',  bookshow_path, class: 'btn btn-primary'%>
    </div>

    <div class="col-md-3 col-sm-3">
       <h3>POWER SYSTEM MONITORING AND CONTROL </h3>
       <%= image_tag('covers/book4.png')%>
       <%= link_to 'Read More',  bookshow_path, class: 'btn btn-primary'%>
    </div>

    <div class="col-md-3 col-sm-3">

       <h3> robust power system frequency control </h3>
       <%= image_tag('covers/download.webp')%>
       <%= link_to 'Read More',  bookshow_path, class: 'btn btn-primary'%>
    </div>
  </div>
   <div class="row">
     <div class="col-md-3 col-sm-3">
       <h3> MICROGRID </h3>
       <%= image_tag('covers/51x3m5OGIjL._UY250_.jpg')%>
      <%= link_to 'Read More',  bookshow_path, class: 'btn btn-primary'%>
    </div>
    <div class="col-md-3 col-sm-3">
       <h3> INTELLIGENT AUTOMATIC GENERATION CONTROL </h3>
       <%= image_tag('covers/download.jpeg')%>
      <%= link_to 'Read More',  bookshow_path, class: 'btn btn-primary'%>
    </div>

    <div class="col-md-3 col-sm-3">
       <h3>POWER SYSTEM MONITORING AND CONTROL </h3>
       <%= image_tag('covers/book4.png')%>
       <%= link_to 'Read More',  bookshow_path, class: 'btn btn-primary'%>
    </div>

    <div class="col-md-3 col-sm-3">

       <h3> robust power system frequency control </h3>
       <%= image_tag('covers/download.webp')%>
       <%= link_to 'Read More',  bookshow_path, class: 'btn btn-primary'%>
    </div>
  </div>
</div>
